.total-bg {
  background: linear-gradient(180deg,#f7f5ec, #dadedf);
}
.total-box {
  background: #ffffff;
  border-radius: 2px;
}
.logo_orgin {
  width: 330px;
  height: 98px;
}

.logo-sm {
  width: 34px;
  height: 40px;
}
.logo_lg {
  width: 83px;
  height: 98px;
}