.total-bg {
  background: linear-gradient(180deg,#f7f5ec, #dadedf);
}
.total-cont {
  padding: 0 98px;
}
.total-box {
  background: #ffffff;
  border-radius: 2px;
  padding: 20px 24px;
  width: 270px;
}
.logo_orgin {
  width: 330px;
  height: 98px;
}

.logo-sm {
  width: 34px;
  height: 40px;
}
.logo_lg {
  width: 83px;
  height: 98px;
}