body.skin-beige {
  background-color: #f7f5ec;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-family: 'Alata',
    'Alata-Regular',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'PingFang SC',  /* 苹方 */
    'Hiragino Sans GB', /* 冬青黑体简 */
    'Microsoft Yahei',  /* 微软雅黑 */
    'Helvetica Neue',
    Helvetica,
    'NotoSans', /* 思源 */
    Arial,
    'SimSun',	/* 宋体 */
    sans-serif, /* 无衬线 */
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol' !important;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Alata';
  src: url( '../public/res/font/Alata-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
      font-display: block;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400 !important;
}
h1, .h1 {
  font-size: 2.5rem;
  line-height: 3rem;
}
h2, .h2 {
  font-size: 2rem;
  line-height: 2.5rem;
}
h3, .h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}
h4, .h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
h5, .h5 {
  font-size: 1rem;
  line-height: 1.5rem;
}
h6, .h6 {
  font-size: 0.875rem;
  line-height: 1.375rem;
}
p {
  font-size: 0.875rem;
  line-height: 1.375rem;
  word-break: break-word;
  overflow-wrap: break-word;
}
small {
  font-size: 12px;
  color:rgba(0,0,0,0.65);
  line-height: 20px;
  display: inline-block;
}

fieldset {
  min-width: 0;
}


/* b-overlay */
.b-overlay {
  z-index: 0 !important;
}

/* Shadow */
.box {
  overflow: hidden;
  background: #ffffff;
  border-radius: 2px;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.1);
}

/* Line */
.line-bottom {
  box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.08) inset; 
}
.line-right {
  box-shadow: -1px 0 0 0 rgba(0,0,0,0.08) inset; 
}

/* Layout */
#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Format */
.inline-block {
  display: inline-block;
}
.text-monospace { font-family: 'SFMono-Regular', Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }
.text-black-65 {
  color: rgba(0, 0, 0, .65);
}
.text-black-45 {
  color: rgba(0, 0, 0, .45);
}
.text-black-25 {
  color: rgba(0,0,0,0.25);
}
.text-black-15 {
  color: rgba(0,0,0,0.15);
}
.text-blue-1 {
  color: #1BA57B;
}
.text-danger-1 {
  color: #EB3C00;
}

/* Size */
.text-18 {
  font-size: 18px;
}
.h-38 {
  height: 38px;
}
.w-240 {
  width: 240px;
}

/* Offset */
.offset-ml-4 {
  margin-left: -24px;
}

/* Nav */
.navbar-expand .navbar-nav .nav-link {
  padding: 1rem;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0,0,0,0.65);
  /* text-align: center; */
  line-height: 24px;
}
.navbar-expand .navbar-nav .nav-link:hover,
.navbar-expand .navbar-nav .nav-link.active,
.navbar-expand .navbar-nav .nav-link.router-link-exact-active {
  color: #EB3C00;
  box-shadow: inset 0 -2px 0px 0px #eb3c00;
}

.navbar-tabs .nav-link {
  font-size: 14px;
  color: rgba(0,0,0,0.85);
  line-height: 22px;
  font-weight: 400;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 2px;
  padding: 6px 16px;
  margin-right: 8px;
  margin-bottom: 8px;
}
.navbar-tabs li:last-child .nav-link {
  margin-right: 0px;
}

.navbar-tabs .nav-link.router-link-exact-active, .navbar-tabs .nav-link:hover {
  background-color: transparent;
  border-color: #eb3c00;
  color: #eb3c00;
  box-shadow: 0px 4px 8px 0px rgba(235,60,0,0.3); 
}
.navbar-tabs .nav-link:active, .navbar-tabs .nav-link:focus {
  outline-color: #eb3c00;
}


.nav-item.dropdown.show > .nav-link,
.nav-item.dropdown.active > .nav-link,
.nav-item.dropdown.nav-link.show,
.nav-item.dropdown.nav-link.active {
  color: #eb3c00;
}
.nav-item .dropdown-menu {
  padding: 4px 0;
}
.nav-item .dropdown-menu .dropdown-item {
  color: rgba(0,0,0,0.65);
  line-height: 22px;
  padding: 7px 0 7px 12px;
  font-size: 14px;
}
.nav-item .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
  color: #eb3c00;
}

/* Sidebar */
.b-sidebar .navbar-expand .navbar-nav .nav-link:hover,
.b-sidebar .navbar-expand .navbar-nav .nav-link.active,
.b-sidebar .navbar-expand .navbar-nav .nav-link.router-link-exact-active {
  color: #EB3C00;
  box-shadow: inset 2px 0 0 0 #eb3c00;
}

.b-sidebar-backdrop {
  background-color: rgba(0,0,0,.4);
  transition-property: background-color,backdrop-filter,-webkit-backdrop-filter;
  backdrop-filter: saturate(180%) blur(.25rem);
}

/* Alert */
.alert {
  border-radius: 2px;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 12px;
  border-width: 0;
}
.alert-dark {
  background: #dadedf;
  color: #000000;
}
.alert-error {
  background: #ff4d7c;
  color: #ffffff;
}
.alert-error::before {
  content: "×";
  width: 16px;
  height: 16px;
  font-size: 20px;
  display: inline-block;
  background: #ffffff;
  color: #ff4d7c;
  line-height: 15px;
  border-radius: 50%;
  padding-left: 1px;
  text-align: center;
  overflow: hidden;
  vertical-align: bottom;
  margin-right: 12px;
}

/* Icon */
.icon-w-8 {
  width: 8px;
  height: 8px;
}
.icon-w-20 {
  width: 20px;
  height: 20px;
}
.icon-w-40 {
  width: 40px;
  height: 40px;
}
.icon-box-20 {
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 1px solid #dadedf;
  border-radius: 2px;
  padding: 1px;
}
/* temp */
.icons-box-2 img:last-child {
  align-self: flex-end;
}
.icons-box-5 img:nth-last-child(n+5) ~ img,
.icons-box-5 img:nth-last-child(n+5):first-child {
  width: 31px;
  height: 31px;
}
.icons-box-5 img:nth-last-child(n+5) ~ img:nth-child(2) {
  margin-left: 18px;
}
.icons-box-5 img:nth-last-child(n+5) ~ img:nth-child(3) {
  margin-left: 25px;
  margin-top: -5px;
}
.icons-box-5 img:nth-last-child(n+5) ~ img:nth-child(4) {
  margin-top: -5px;
}
.icons-box-5 img:nth-last-child(n+5) ~ img:nth-child(5) {
  margin-top: -5px;
  margin-left: 18px;
}


.iconTip {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  line-height: 12px;
  font-size: 12px;
  text-align: center;
}
.iconTip-warning {
  color: #fff;
  background-color: #1ba57b;
}


/* Box size */
.box-98 {
  width: 98px;
  height: 98px;
}

.icon-box-20 img:nth-last-child(n+5) ~ img,
.icon-box-20 img:nth-last-child(n+5):first-child {
  width: 6px;
  height: 6px;
}
.icon-box-20 img:nth-last-child(n+5) ~ img:nth-child(2) {
  margin-left: 4px;
}
.icon-box-20 img:nth-last-child(n+5) ~ img:nth-child(3) {
  margin-left: 5px;
  margin-top: -1px;
}
.icon-box-20 img:nth-last-child(n+5) ~ img:nth-child(4) {
  margin-top: -1px;
}
.icon-box-20 img:nth-last-child(n+5) ~ img:nth-child(5) {
  margin-top: -1px;
  margin-left: 4px;
}

/* Width */
.w-270 {
  width: 270px;
}

/* Button */
.btn, .btn-group > .btn {
  padding: 7px 16px;
  font-size: 14px;
  line-height: 22px;
  border-radius: 2px;
}
.btn-sm, .btn-group-sm > .btn {
  padding: 0px 8px;
}
.btn-lg, .btn-group-lg > .btn {
  padding: 12px 24px;
  font-size: 16px;
  line-height: 24px;
}
.btn-xsm, .btn-group-sm > .btn {
  padding: 0px 4px;
  font-size: 12px;
  line-height: 18px;
}

.btn-danger {
  color: rgba(255,255,255,0.85);
  background-color: #eb3c00;
  border-color: #eb3c00;
}

.btn-outline-secondary {
  color: rgba(0,0,0,0.85);
  border-color: rgba(0,0,0,0.25);
}

/* Table */
.table td:first-child,
.table th:first-child {
  padding-left: 24px;
}
.table td:last-child,
.table th:last-child {
  padding-right: 24px;
}
.table thead th {
  padding-top: 20px;
  padding-bottom: 12px;
  color: rgba(0,0,0,0.65);
}
.table thead th:first-child {
  text-align: left;
}

/* Input Textarea */
input[type="text"] {
  font-size: 14px;
}
input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: rgba(0,0,0,0.45);
  font-size: 14px;
}
input[type="text"]::-moz-placeholder, textarea::-moz-placeholder {
  color: rgba(0,0,0,0.45);
  font-size: 14px;
}
input[type="text"]::-moz-placeholder, textarea::-moz-placeholder {
  color: rgba(0,0,0,0.45);
  font-size: 14px;
}

/* Radio */
.custom-control {
  z-index: 0 !important;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #EB3C00;
  background-color: #EB3C00;
}
.radio-danger .custom-control-input:hover ~ .custom-control-label::before {
  border-color: #EB3C00;
}

.radio-danger[type="radio"]+span {
	display:inline-block;
	border-radius:50%;
	width:20px;
	height:20px;
	border:1px solid #929292;
	box-shadow: 1px 1px 1px #cac9c9;
	color:#929292;
	position:absolute;
	top:8px;
	left:0;
	transform: scale(1);
	/*transition:.5s;*/
}
.radio-danger[type="radio"]:checked + span:after {
	content:'';
	position:absolute;
	width:10px;
	height:10px;
	border-radius:50%;
	background:#1e9fff;
	left:5px;
	top:5px;
}
.radio-danger[type="radio"]:checked + span{
	border:1px solid #1e9fff;
	animation: mymove .5s 1
}

/* Tooltip */
.tooltip-inner {
  font-size: 14px;
  line-height: 22px;
  max-width: 360px;
  padding: 8px 12px;
  text-align: left;
}
.tooltip.b-tooltip {
  opacity: 1;
}
.tooltip.b-tooltip-success .tooltip-inner {
  color: rgba(255,255,255,0.85);
  background-color: #1ba57b;
}
.tooltip.b-tooltip-success.bs-tooltip-top .arrow::before,
.tooltip.b-tooltip-success.bs-tooltip-auto .arrow::before {
  border-top-color: #1ba57b;
}

/* Checkbox */
.custom-checkbox {
  font-size: 14px;
  color: rgba(0,0,0,0.65);
  line-height: 24px;
}

/* Input group */
.input-append-percentage::before {
  content: "%";
}

/* Modal */
.normal-modal {
  /* margin-right: 100px;
  margin-left: 100px; */
  border-width: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.15);
}
.normal-modal header {
  border-bottom-width: 0px;
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
}
.normal-modal header h5{
  font-size: 20px;
  line-height: 28px;
}
.normal-modal .modal-body {
  padding: 0 24px;
  font-size: 14px;
  color: rgba(0,0,0,0.65);
  line-height: 22px;
}
.normal-modal footer {
  border-top-width: 0px;
  padding: 20px 24px;
}
.statement-modal {
  background-color: #F7CA00;
}


/* Tab */
.tabs-nav .nav-link {
  font-size: 14px;
  color: rgba(0,0,0,0.85);
  line-height: 22px;
  font-weight: 400;
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 2px;
  padding: 6px 16px;
  margin-right: 8px;
  margin-bottom: 8px;
}
.tabs-nav li:last-child .nav-link {
  margin-right: 0px;
}
.tabs-nav .nav-link.active, .tabs-nav .nav-link:hover {
  background-color: transparent;
  border-color: #eb3c00;
  color: #eb3c00;
  box-shadow: 0px 4px 8px 0px rgba(235,60,0,0.3);
}
.tabs-nav .nav-link:active, .tabs-nav .nav-link:focus {
  outline-color: #eb3c00;
}

/*  */
.btn-group-toggle label.btn {
  margin-right: 8px;
  border-radius: 2px;
  padding-right: 16px;
  padding-left: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.btn-group-toggle label.btn:last-child {
  margin-right: 0px;
}







.lists {
  border: 1px solid rgba(0,0,0,0.08);
  border-radius: 2px;
  padding: 8px 12px;
}
.lists-select ul li {
  font-size: 14px;
  color: rgba(0,0,0,0.65);
  line-height: 22px;
  padding: 4px 0;
}




.currentInput {
  background: rgba(255,255,255,0.3);
  border: 1px solid #dadedf;
  border-radius: 2px 0px 0px 2px;
}
.currentInput .coin {
  min-width: 104px;
  border-right: 1px solid #dadedf;
  padding-left: 12px;
  padding-right: 12px;
}
.currentInput input {
  border-width: 0;
}


.iconcontainer {
  width: 48px;
  height: 48px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.15);
  cursor: pointer;
  line-height: 20px;
}


