body.skin-beige {
  background-color: #f7f5ec;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-family: 'Alata',
    'Alata-Regular',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'PingFang SC',  /* 苹方 */
    'Hiragino Sans GB', /* 冬青黑体简 */
    'Microsoft Yahei',  /* 微软雅黑 */
    'Helvetica Neue',
    Helvetica,
    'NotoSans', /* 思源 */
    Arial,
    'SimSun',	/* 宋体 */
    sans-serif, /* 无衬线 */
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol' !important;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Alata';
  src: url( '../public/res/font/Alata-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
      font-display: block;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400 !important;
}
h1, .h1 {
  font-size: 2.5rem;
  line-height: 3rem;
}
h2, .h2 {
  font-size: 2rem;
  line-height: 2.5rem;
}
h3, .h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}
h4, .h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
h5, .h5 {
  font-size: 1rem;
  line-height: 1.5rem;
}
h6, .h6 {
  font-size: 0.875rem;
  line-height: 1.375rem;
}
p {
  font-size: 0.875rem;
  line-height: 1.375rem;
}
small {
  font-size: 12px;
  color:rgba(0,0,0,0.65);
  line-height: 20px;
  display: inline-block;
}

fieldset {
  min-width: 0;
}

/* Shadow */
.box {
  overflow: hidden;
  background: #ffffff;
  border-radius: 2px;
  box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.1);
}

/* Line */
.line-bottom {
  box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.08) inset; 
}

/* Layout */
#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Format */
.text-monospace { font-family: 'SFMono-Regular', Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }
.text-black-65 {
  color: rgba(0, 0, 0, .65);
}

/* Nav */
.navbar-expand .navbar-nav .nav-link {
  padding: 1rem;
  font-size: 16px;
  font-weight: 500;
  color: rgba(0,0,0,0.65);
  text-align: center;
  line-height: 24px;
}
.navbar-expand .navbar-nav .nav-link:hover,

.navbar-expand .navbar-nav .router-link-exact-active {
  color: #EB3C00;
  box-shadow: inset 0 -2px 0px 0px #eb3c00;
}

/* Icon */
.icon-w-20 {
  width: 20px;
  height: 20px;
}

/* Button */
.btn-sm, .btn-group-sm > .btn {
  padding: 0px 8px;
  font-size: 14px;
  line-height: 22px;
  border-radius: 2px;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 12px 24px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 2px;
}

.btn-danger {
  color: rgba(255,255,255,0.85);
  background-color: #eb3c00;
  border-color: #eb3c00;
}

.btn-outline-secondary {
  color: rgba(0,0,0,0.85);
  border-color: rgba(0,0,0,0.25);
}

/* Table */
.table td:first-child,
.table th:first-child {
  padding-left: 24px;
}
.table td:last-child,
.table th:last-child {
  padding-right: 24px;
}
.table thead th {
  padding-top: 20px;
  padding-bottom: 12px;
  color: rgba(0,0,0,0.65);
}
.table thead th:first-child {
  text-align: left;
}


/* Radio */
.custom-control {
  z-index: 0 !important;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #EB3C00;
  background-color: #EB3C00;
}
.radio-danger .custom-control-input:hover ~ .custom-control-label::before {
  border-color: #EB3C00;
}

.radio-danger[type="radio"]+span {
	display:inline-block;
	border-radius:50%;
	width:20px;
	height:20px;
	border:1px solid #929292;
	box-shadow: 1px 1px 1px #cac9c9;
	color:#929292;
	position:absolute;
	top:8px;
	left:0;
	transform: scale(1);
	/*transition:.5s;*/
}
.radio-danger[type="radio"]:checked + span:after {
	content:'';
	position:absolute;
	width:10px;
	height:10px;
	border-radius:50%;
	background:#1e9fff;
	left:5px;
	top:5px;
}
.radio-danger[type="radio"]:checked + span{
	border:1px solid #1e9fff;
	animation: mymove .5s 1
}

/* Input group */
.input-append-percentage::before {
  content: "%";
}


/* Modal */
.statement-modal{
  background-color: #F7CA00;
  margin-right: 100px;
  margin-left: 100px;
  border-width: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.15);
}
.statement-modal header {
  border-bottom-width: 0px;
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
}
.statement-modal header h5{
  font-size: 20px;
  line-height: 28px;
}
.statement-modal .modal-body {
  padding: 0 24px;
  font-size: 14px;
  color: rgba(0,0,0,0.65);
  line-height: 22px;
}
.statement-modal footer {
  border-top-width: 0px;
  padding: 20px 24px;
}
/* .statement-modal footer button{
  background: #eb3c00;
  border-radius: 2px;
} */